<a href="https://colab.research.google.com/github/ArtikaYuzuf/-Art-Yusuf/blob/master/Regresi_Linear_Without_Sklearn-FIX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aktifkan library numpy dan pandas, dengan cara import as np , np disini adalah singkatan untuk memudahkan memanggil library numpy. begitu pula berlaku untuk pandas

In [4]:
# Import Library
import numpy as np
import pandas as pd

Cara untuk mengambil data adalah dengan menggunakan perintah df = pd.read_csv
df yaitu singkatan dari dataframe

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Import Dataset
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Salary_Data12.csv')

# Regresi Linear

In [6]:
# Prints 20 first Row
df.head(20)

    YearsExperience   Salary
0               1.1  39343.0
1               1.3  46205.0
2               1.5  37731.0
3               2.0  43525.0
4               2.2  39891.0
5               2.9  56642.0
6               3.0  60150.0
7               3.2  54445.0
8               3.2  64445.0
9               3.7  57189.0
10              3.9  63218.0
11              4.0  55794.0
12              4.0  56957.0
13              4.1  57081.0
14              4.5  61111.0
15              4.9  67938.0
16              5.1  66029.0
17              5.3  83088.0
18              5.9  81363.0
19              6.0  93940.0

In [7]:
# Mean Years of Experience
mean_yoe = sum(df['YearsExperience']) / float(len(df['YearsExperience']))
mean_yoe

5.724

In [8]:
# Mean Salary
mean_salary = sum(df['Salary']) / float(len(df['Salary']))
mean_salary

79743.91

In [9]:
def variance(values, mean): 
  return sum([(val-mean)**2 for val in values])

In [10]:
def covariance(yearsexperience, mean_yoe, salary, mean_salary):
  covariance = 0.0
  for r in range(len(yearsexperience)):
    covariance = covariance + (yearsexperience[r] - mean_yoe)*(salary[r] - mean_salary)
    return covariance

In [11]:
variance_yoe, variance_salary = variance(df['YearsExperience'], mean_yoe), variance(df['Salary'], mean_salary)
variance_yoe, variance_salary

(603.0824, 69577763622.19)

In [12]:
covariance_yoe_salary = covariance(df['YearsExperience'],mean_yoe,df['Salary'],mean_salary)
covariance_yoe_salary

186813.80784000005

In [13]:
m = covariance_yoe_salary/ variance_yoe
c = mean_salary - m* mean_yoe
m,c

(309.76498044048384, 77970.81525195867)

In [14]:
#Memprediksi besaran salary dengan Yoe 7 tahun
salary = 309 * 7 + 77970
salary

80133